<h2>Secrypto</h2>
<p class="lead">
  This API Allow to encrypt/decrypt text
</p>

<br>

<h4> Encrypt </h4>
<%= raw(CodeRay.scan("curl --data \"text=i am a ruby developer\" https://secrypto.herokuapp.com/api/encrypt", :bash).div(:line_numbers => false)) %>
<%= raw(CodeRay.scan("{\"key\": \"QhmJQOpBcUo-QQOZUrbDScWGWjL8cNMTu4vRXjvX5cA\"}", :bash).div(:line_numbers => false)) %>
<br>

<h4> Decrypt </h4>
<%= raw(CodeRay.scan("curl --data \"key=QhmJQOpBcUo-QQOZUrbDScWGWjL8cNMTu4vRXjvX5cA\" https://secrypto.herokuapp.com/api/decrypt", :bash).div(:line_numbers => false)) %>
<%= raw(CodeRay.scan("{\"text\": \"i am a ruby developer\"}", :bash).div(:line_numbers => false)) %>
<br>
<br>

<iframe src="https://ghbtns.com/github-btn.html?user=davidesantangelo&repo=secrypto&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>