<!DOCTYPE html>
<html>
<head>
  <title>Secrypto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container"> 
        <%= yield %>
  </div>
  <footer class="footer">
    <div class="container">
      <span class="text-muted">Made by <a href="https://twitter.com/daviducolo"> Davide Santangelo</span>
    </div>
  </footer>
</body>
</html>
